chinesecalendar==1.10.0
dbutils==3.1.1
face_recognition==1.3.0
numpy==1.26.4
openai==1.101.0
opencv_python==4.11.0.86
opencv_python_headless==4.11.0.86
openpyxl==3.1.5
pandas==2.3.2
Pillow==11.3.0
plotly==6.3.0
pyarrow==18.1.0
pybadges==3.0.1
pycryptodome==3.23.0
PyGithub==2.7.0
PyJWT==2.10.1
PyMySQL==1.1.1
python_docx==1.2.0
Requests==2.32.5
setuptools==80.8.0
streamlit==1.48.1
streamlit_antd_components==0.3.2
streamlit_condition_tree==0.3.0
streamlit_extras==0.7.6
streamlit_nivo==0.1.8
streamlit_searchbox==0.1.23
streamlit_vertical_slider==2.5.5
streamlit_webrtc==0.63.4
tenacity==8.5.0
toposort==1.5
wcwidth==0.2.13
