dbutils==3.1.1
python-docx==1.2.0
pandas==2.3.0
plotly==6.2.0
pycryptodome==3.23.0
PyMySQL==1.1.1
python_docx==1.2.0
pybadges==3.0.1
streamlit==1.46.1
streamlit_antd_components==0.3.2
streamlit_extras==0.7.5
streamlit-nivo==0.1.8