chinesecalendar==1.10.0
dbutils==3.1.1
dill==0.3.8
fsspec==2025.3.0
multiprocess==0.70.16
NumPy==2.3.2
openpyxl==3.1.5
python-docx==1.2.0
pandas==2.3.1
plotly==6.2.0
pycryptodome==3.23.0
PyMySQL==1.1.1
python_docx==1.2.0
pybadges==3.0.1
PyJWT==2.10.1
streamlit==1.47.0
streamlit-antd-components==0.3.2
streamlit-condition-tree==0.3.0
streamlit-extras==0.7.5
streamlit-nivo==0.1.8
streamlit-webrtc==0.63.3
